/* generic styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 3.25rem;
  font-weight: 400;
  margin-bottom: 15px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.npm-btn {
  color: #fff;
  border: none;
  font-size: 1.25rem;
  font-weight: 300;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  border-radius: 20px;
  padding: 0 30px;
}

.npm-btn.orange {
  background-color: rgb(240, 146, 51);
}

.npm-btn.red {
  background-color: rgb(203, 56, 55);
}

.npm-btn.blue {
  background-color: rgb(49, 68, 88);
}

/* navbar styles */

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 37px;
  font-weight: 300;
}

nav a {
  color: rgba(255,255,255,0.8);
}

.top-left {
  float: left;
  margin-left: 30px;
}

.top-left .heart {
  margin-right: 20px;
}

.top-links {
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

/* header styles */

header {
  background: url("images/city-scape.svg") 0 0 no-repeat;
  background-size: cover;
  padding: 10px 30px 90px;
  color: #fff;
}

header a {
  color: #fff;
}

header .logo {
  height: 50px;
  margin-right: 20px;
}

header .header-text {
  width: 50%;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

/* search bar */

.search-bar {
  display: flex;
  margin-bottom: 50px;
}

.search-bar .bear-logo {
  height: 45px;
  vertical-align: middle;
}

.search-form {
  flex-grow: 1;
  display: flex;
}

.search-form input,
.search-form button {
  height: 50px;
  background: rgb(31, 82, 111);
  border: 1px solid rgb(76, 116, 140);
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  outline: none;
}

.search-form input {
  padding: 0 20px;
  flex-grow: 1;
}

.search-form button {
  margin-left: -1px;
  padding: 0 10px;
  margin-right: 20px;
}

/* collaboration section */

#collaboration {
  background-color: rgb(39, 53, 71);
  padding: 120px 0;
  color: #fff;
  font-size: 1.125rem;
}

#collaboration a {
  color: #fff;
}

.collab-img {
  width: 55%;
  margin-right: 5%;
}

.collab-right {
  float: right;
  width: 40%;
}

.collab-list {
  margin: 0 0 30px 20px;
}

.collab-list li {
  margin-bottom: 20px;
}

.collab-more {
  margin-top: 5px;
}

.collab-more a {
  font-weight: 400;
}